*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #0e3273;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #0e3273;
    color: #f7a715;
    border-bottom: 2px solid #f7a715 ;
}

.container-fluid{
    background-color: #0e3273;
}

.navbar-brand{
    color:#f7a715;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
}

.navbar-toggler-icon{
    background-color:#f7a715;
}

.nav-link{
    color: #f7a715;
}

.nav-item{
    color: #f7a715;
}

.nav-link.active{
    color: #f7a715;
}

.carousel{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-inner{
    border-radius: 10px;
}

.carousel-item{
    border-radius: 10px;
}

.carousel-control-prev-icon{
    background-color: #0e3273;
}

.carousel-control-next-icon{
    background-color: #0e3273;
}

.card-body{
    background-color: #1b4796;
    color: #f7a715;
    border-top: 1px solid #f7a715;
    padding: 10px;
}

.card-header{
    background-color: #0e3273;
    color: #f7a715;
    font-family: 'Bebas Neue', sans-serif;
}

.card-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.card-text {
    font-family: 'Bebas Neue', sans-serif;
}

.card-footer.text-body-secondary{
    background-color: #0e3273;
}

.btn.btn-primary{
    color: #f7a715;
    background-color: #0e3273;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.btn.btn-outline-success{
    color: #f7a715;
    border-color: #f7a715;
}

.copy{
    font-size: 20px;
    color:#f7a715;
    background-color: #0e3273;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-color: #0e3273;
}

form{
    max-width: 400px;
    margin: auto;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    width: 95%;
    padding: 8px;
    border-radius: 3px;
    font-size: 20px;
    border: 1px solid #f7a715;
    margin-bottom: 20px;
}

button{
    background-color: #0e3273;
    color: #f7a715;
    transition: background-color 3s;
    cursor: pointer;
}

button:hover{
    background-color: #f7a715;
}

h1{
    color: #f7a715;
    text-align: center;
}

.footer{
    margin: 0;
    height: 50vh;
    background-color: #0e3273;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer h3{
    text-align: center;
    margin: 10px 0 16px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    font-size: 34px;
    color: #f7a715;
}
  
.form div{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
  
.input-group{
    font-size: 0.9rem;
    position: relative;
    --primary: #f7a715;
    display: flex;
    flex-direction: column;
    /* width: 100%;  */
}
  
.input-box{
    position: relative;
}
    
.input{
      all: unset;
      color: #f7a715;
      padding: 0.6rem 1rem;
      border: 1px solid #5c74a0;
      border-radius: 10px;
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-bottom: 16px;
      /* width: 45%; */
}
  
    .label{
      position: absolute;
      top: 0.6rem;
      left: 1rem;
      color: #5c74a0;
      pointer-events: none;
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.input:focus{
      border: 1px solid var(--primary);
}
    
.input:is(:focus, :valid) ~ label{
      transform: translateY(-110%) scale(0.8) translateX(-16%);
      background-color: #0e3273;
      padding-inline: 0.3rem;
      color: var(--primary);
}
  
.button{
      background-color: #f7a715;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 1.2rem;
      color: #0e3273;
      padding: 0.4rem 1rem;
      border: solid;
      border-radius: 10px;
}